html {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  padding: 0;
  margin: 0;
  line-height: 1; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal; }

p {
  margin-top: 0;
  font-weight: normal;
  margin-top: 0; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

form {
  padding: 0;
  margin: 0; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

li {
  padding: 0;
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible;
  text-transform: none; }

select {
  text-transform: none; }

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="checkbox"], input[type="radio"] {
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

* {
  box-sizing: border-box; }

*:before, *:after {
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  text-decoration: none; }

figure {
  margin: 0; }

img {
  vertical-align: middle; }

.group:after, .contain:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden; }

.embed-responsive::before {
  display: block;
  content: ""; }

.embed-responsive-21by9::before {
  padding-top: 42.857143%; }

.embed-responsive-16by9::before {
  padding-top: 56.25%; }

.embed-responsive-4by3::before {
  padding-top: 75%; }

.embed-responsive-1by1::before {
  padding-top: 100%; }

.embed-responsive iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0; }

.swiper-button-disabled {
  opacity: 0 !important; }

.swiper-button:focus {
  outline: none; }

.lcpadding {
  padding-left: calc((100% - 1240px)/2); }
  @media only screen and (max-width: 1199px) {
    .lcpadding {
      padding-left: calc((100% - 970px)/2); } }
  @media only screen and (max-width: 991px) {
    .lcpadding {
      padding-left: calc((100% - 750px)/2); } }
  @media only screen and (max-width: 767px) {
    .lcpadding {
      padding-left: calc((100% - 600px)/2); } }
  @media only screen and (max-width: 640px) {
    .lcpadding {
      padding-left: calc((100% - 530px)/2); } }
  @media only screen and (max-width: 570px) {
    .lcpadding {
      padding-left: 15px; } }

.rcpadding {
  padding-right: calc((100% - 1240px)/2); }
  @media only screen and (max-width: 1199px) {
    .rcpadding {
      padding-right: calc((100% - 970px)/2); } }
  @media only screen and (max-width: 991px) {
    .rcpadding {
      padding-right: calc((100% - 750px)/2); } }
  @media only screen and (max-width: 767px) {
    .rcpadding {
      padding-right: calc((100% - 600px)/2); } }
  @media only screen and (max-width: 640px) {
    .rcpadding {
      padding-right: calc((100% - 530px)/2); } }
  @media only screen and (max-width: 570px) {
    .rcpadding {
      padding-right: 15px; } }

.contain {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

@media only screen and (max-width: 1367px) {
  .contain {
    max-width: 1170px; } }

@media only screen and (max-width: 1199px) {
  .contain {
    max-width: 970px; } }

@media only screen and (max-width: 991px) {
  .contain {
    max-width: 750px; } }

@media only screen and (max-width: 767px) {
  .contain {
    max-width: 600px; } }

@media only screen and (max-width: 640px) {
  .contain {
    max-width: 530px; } }

@media only screen and (max-width: 575px) {
  .contain {
    width: 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px; } }

@media only screen and (max-width: 320px) {
  body, body > * {
    width: auto;
    min-width: 320px; } }

@media only screen and (min-width: 1080px) {
  .main-mnu {
    display: block !important; }
  .hidden-mnu {
    display: none; } }

@font-face {
  font-family: 'Calibri';
  src: url("../fonts/Calibri-regular.woff") format("woff"), url("../fonts/Calibri-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

button {
  border: none;
  outline: none; }

textarea:hover, textarea:active, textarea:focus {
  outline: none; }

body {
  font-family: 'Geologica', sans-serif;
  font-weight: normal;
  font-size: 16px;
  position: relative;
  min-height: 100vh; }
  body.ohi {
    overflow: hidden; }

.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh; }

.main {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

/*modal*/
.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 5;
  background: rgba(45, 40, 40, 0.5);
  display: none;
  display: block; }

.modal-form__layout {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2; }

.modal-form__block {
  position: absolute;
  top: 5%;
  margin-bottom: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  z-index: 6;
  max-width: 696px;
  width: 100%;
  border-radius: 20px;
  background: linear-gradient(46deg, #0071f5 0%, #3d95fc 70.31%, #56a4ff 100%), #0071f5;
  box-shadow: rgba(0, 89, 194, 0.1) 0px 0px 0px 0px, rgba(0, 89, 194, 0.1) 0px 19px 42px 0px, rgba(0, 89, 194, 0.09) 0px 77px 77px 0px, rgba(0, 89, 194, 0.05) 0px 172px 103px 0px, rgba(0, 89, 194, 0.01) 0px 306px 122px 0px, rgba(0, 89, 194, 0) 0px 479px 134px 0px;
  padding: 50px;
  overflow: hidden; }
  .modal-form__block:before {
    display: block;
    content: "";
    width: 375px;
    height: 253px;
    position: absolute;
    right: -31px;
    bottom: -10px;
    background-image: url("../img/popup-bg.svg");
    background-repeat: no-repeat;
    background-position: left top;
    z-index: 2; }

.modal-form__inner {
  position: relative; }

.modal-form__title {
  color: white;
  font-size: 45px;
  font-weight: 300;
  margin-bottom: 35px;
  padding-right: 40px; }
  .modal-form__title span {
    color: #C0D8FB; }

.modal-form__text {
  color: #c0d8fb;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 40px;
  padding-right: 40px; }
  .modal-form__text span {
    color: white; }

.modal-close {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 40px;
  top: 40px;
  z-index: 7;
  width: 26px;
  height: 26px;
  background: url("../img/close-w.svg") no-repeat 0 0; }

/*end modal*/
.logo {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none; }
  .logo:hover {
    text-decoration: none; }
  .logo > img {
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto; }

.header {
  padding: 40px 0; }
  .header a:hover {
    text-decoration: none; }

.header__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.logo__slogan {
  margin-left: 20px; }

.logo__txt-1 {
  margin-bottom: 0px;
  color: #545454;
  font-size: 26.626px;
  font-weight: 500;
  letter-spacing: 1.331px;
  text-transform: uppercase; }

.logo__txt-2 {
  color: #a6a6a6;
  font-size: 14px;
  font-weight: 300; }

.header__ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 92px; }
  .header__ul li:not(:last-child) {
    margin-right: 40px; }
  .header__ul li a {
    color: #a6a6a6;
    font-size: 16px;
    font-weight: 300;
    display: inline-block;
    padding-bottom: 4px;
    border-bottom: 1px solid #a6a6a6; }
    @media (any-hover: hover) {
      .header__ul li a:hover {
        color: #0071F5;
        border-color: #0071F5; } }
    .header__ul li a.active {
      color: #0071F5;
      font-weight: 500;
      position: relative;
      border: none; }
      .header__ul li a.active:before {
        content: "";
        display: block;
        width: 35px;
        height: 2px;
        background-color: #0071F5;
        position: absolute;
        bottom: -3px;
        left: 50%;
        -webkit-transform: translate(-50%, 0%);
            -ms-transform: translate(-50%, 0%);
                transform: translate(-50%, 0%); }

.header__conts {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto; }

.header__conts-img {
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 28px; }

.header__tel {
  color: #0071f5;
  font-size: 20px;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 6px; }

.header__mail {
  display: block;
  color: #a6a6a6;
  font-size: 14px;
  font-weight: 300; }

.btn,
.btn-o,
*[class$="__btn"] {
  transition: 0.5s; }
  .btn:hover,
  .btn-o:hover,
  *[class$="__btn"]:hover {
    text-decoration: none; }

.btn {
  border-radius: 10px;
  background: linear-gradient(46deg, #CC003D 0%, #D16981 100%);
  height: 74px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 45px;
  font-size: 20px;
  color: #FFF;
  font-weight: 500; }

.header__btn {
  padding: 0 23px;
  height: 50px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 36px;
  border-radius: 10px;
  border: 2px solid #0071f5;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  color: #0071f5;
  font-size: 14px;
  font-weight: 500; }
  .header__btn:hover {
    background-color: #0071F5;
    color: #FFF;
    border-color: #0071F5; }

.hero {
  margin-left: auto;
  margin-right: auto;
  max-width: 1700px;
  background-color: #edf3fa;
  border-radius: 50px;
  padding: 0px 126px 0px 100px; }

.hero__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.hero__r,
.hero__l {
  width: 50%; }

.hero__l {
  padding: 83px 0; }

.hero__r {
  position: relative; }
  .hero__r img {
    position: absolute;
    left: -157px;
    bottom: 0; }

.hero__title {
  color: #545454;
  font-size: 60px; }
  .hero__title span {
    font-weight: 500;
    color: #0071F5; }

.hadvant {
  margin-top: 40px;
  margin-left: -40px;
  margin-right: -40px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.hadvant__col {
  padding-left: 40px;
  padding-right: 40px;
  width: 50%;
  margin-bottom: 25px; }

.hadvant__subtitle {
  color: #959595;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 8px; }

.hadvant__title {
  font-size: 35px;
  color: #0071F5; }

.hero__bot {
  margin-top: 37px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.hero__btn {
  height: 75px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 45px;
  border-radius: 10px;
  background: linear-gradient(46deg, #cc003d 0%, #d16981 100%);
  color: white;
  font-size: 20px;
  font-weight: 500;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 80px; }

.hero__info {
  color: #A6A6A6;
  font-size: 14px;
  font-weight: 300;
  line-height: 142%; }

section {
  padding-top: 200px; }

.for__row {
  margin-left: -25px;
  margin-right: -25px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.for__col {
  padding-left: 25px;
  padding-right: 25px;
  width: 33.333%; }

.for__title {
  font-size: 46px;
  color: #545454;
  font-weight: 300;
  margin-bottom: 58px; }

.arrow {
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: left center;
  height: 27px;
  width: 131px; }

.for__img-w {
  height: 250px;
  margin-bottom: 40px; }

.for__img {
  max-width: 100%; }

.for__text {
  color: #959595;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.7; }

.for__tit {
  display: block;
  color: #0071F5;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 30px; }
  .for__tit:hover {
    text-decoration: none; }

.help__row {
  margin-left: -25px;
  margin-right: -25px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: -50px; }

.help__col {
  padding-left: 25px;
  padding-right: 25px;
  width: 50%;
  margin-bottom: 50px; }
  .help__col:nth-child(3) .help__it {
    background: #FAEDF1; }
  .help__col:nth-child(3) .help__tit {
    color: #CC003D; }
  .help__col:nth-child(3) .help__btn {
    background: linear-gradient(46deg, #CC003D 0%, #D16981 100%); }

.help__title {
  color: #545454;
  font-size: 45px;
  margin-bottom: 40px; }

.help__text {
  color: #959595;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.7;
  max-width: 560px;
  margin-bottom: 58px; }

.help__it {
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
  background: #edf3fa;
  padding: 45px 252px 50px 49px;
  position: relative;
  height: 316px; }
  .help__it:hover {
    text-decoration: none; }

.help__tit {
  color: #0071f5;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px; }

.help__desc {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.7;
  color: #545454; }

.help__btn {
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-weight: 500;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  background: linear-gradient(46deg, #0071f5 0%, #56a4ff 100%);
  height: 57px;
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
  margin-top: auto; }

.help__img {
  position: absolute;
  top: 48px;
  right: 48px; }

.trust__title {
  margin-bottom: 100px;
  color: #545454;
  font-size: 45px;
  font-weight: 300; }
  .trust__title ._blue {
    color: #0071f5;
    font-weight: 500; }

.trust__row {
  margin-left: -66px;
  margin-right: -66px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.trust__col {
  padding-left: 66px;
  padding-right: 66px;
  width: 33.33%;
  position: relative; }
  .trust__col:not(:last-child):before {
    content: "";
    display: block;
    position: absolute;
    top: 60px;
    right: 34px;
    width: 191px;
    height: 2px;
    background: linear-gradient(#0071f5, #cf2c5a);
    opacity: 0.3; }

.trust__num {
  margin-bottom: 50px;
  line-height: 1; }
  .trust__num > div {
    display: inline-block;
    font-size: 150px;
    font-weight: 700;
    color: #000;
    background-image: linear-gradient(90deg, #0071f5, #3d95fc, #56a4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 0.8;
    position: relative; }
    .trust__num > div i {
      z-index: -1;
      font-style: normal;
      position: absolute;
      top: -8px;
      left: -8px;
      text-shadow: #b0d0ff 2px 5px; }
  .trust__num._red > div {
    background-image: linear-gradient(90deg, #cc003d, #d16981); }
    .trust__num._red > div i {
      text-shadow: #ffd9e4 2px 5px; }
  .trust__num span {
    display: inline-block;
    line-height: 0.8;
    font-size: 63px;
    color: #000;
    background-image: linear-gradient(90deg, #0071f5, #3d95fc, #56a4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    position: relative; }
    .trust__num span i {
      z-index: -1;
      font-style: normal;
      position: absolute;
      top: -8px;
      left: -8px;
      text-shadow: #b0d0ff 2px 5px; }

.trust__name {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 300;
  color: #0071f5; }

.trust__text {
  color: #959595;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.7; }

.form__title {
  color: #c0d8fb;
  font-size: 45px;
  font-weight: 300;
  margin-bottom: 16px;
  line-height: 1.2; }
  .form__title b,
  .form__title strong {
    color: white;
    font-weight: 500; }

.form__text {
  color: #c0d8fb;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 58px; }
  .form__text b,
  .form__text strong {
    color: #FFF;
    font-weight: 500; }

.form__row {
  border-radius: 20px;
  background: linear-gradient(46deg, #0071f5 0%, #3d95fc 70.31%, #56a4ff 100%), radial-gradient(194.59% 100% at 100% 53.61%, #318bf5 0%, #0071f5 100%);
  padding: 97px 100px 100px 95px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  position: relative; }
  .form__row:before {
    content: "";
    display: block;
    position: absolute;
    left: -3px;
    bottom: -1px;
    background-image: url("../img/form-bg.png");
    background-repeat: no-repeat;
    background-position: left top;
    width: 100%;
    height: 100%; }

.form__l {
  width: calc(50% - 40px);
  position: relative;
  z-index: 2; }

.arrow-1 {
  background-image: url("img/arrow-1.svg");
  background-repeat: no-repeat;
  background-position: left center;
  height: 27px;
  width: 131px; }

.form__form {
  width: calc(50% - 40px);
  position: relative;
  z-index: 2; }

.form__input {
  width: 100%;
  border: none;
  border-radius: 10px;
  background: white;
  padding-left: 23px;
  padding-right: 23px;
  height: 65px;
  color: #a6a6a6;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 30px; }

.form__input-2 {
  width: 100%;
  border: none;
  border-radius: 10px;
  background: url("../img/flag-russia.svg") left 23px center no-repeat white;
  padding-left: 66px;
  padding-right: 23px;
  height: 65px;
  color: #a6a6a6;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 30px; }

.form__label {
  margin-bottom: 30px; }

.form__label-txt {
  display: block;
  margin-bottom: 10px; }

.select2-container {
  border: none;
  width: 100% !important; }
  .select2-container.select2-container--open .select2-selection__arrow {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
  .select2-container .select2-selection--single {
    border: none;
    width: 100% !important;
    border-radius: 10px;
    background: white;
    height: 65px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .select2-container .select2-selection--single .select2-selection__rendered {
      color: #107af6;
      font-size: 16px;
      font-weight: 300;
      margin-left: 23px; }
    .select2-container .select2-selection--single .select2-selection__arrow {
      -webkit-flex: 0 0 auto;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
      height: 100%;
      background: url("../img/arr-b-sort.svg") right center no-repeat;
      position: static;
      margin-right: 27px;
      margin-left: 12px;
      margin-bottom: 0px;
      width: 16px; }
      .select2-container .select2-selection--single .select2-selection__arrow b {
        display: none; }
  .select2-container .select2-dropdown {
    border: none;
    border-radius: 0 0 10px 10px;
    overflow: hidden; }
  .select2-container .select2-search--dropdown {
    border: none; }
    .select2-container .select2-search--dropdown .select2-search__field {
      border: none; }
  .select2-container .select2-results {
    border: none;
    margin-top: 0px;
    border-top: none;
    background: #FFF;
    padding: 0px 0; }
  .select2-container .select2-results__option {
    border: none;
    font-weight: 400;
    padding: 27px 23px;
    color: #545454;
    font-size: 16px;
    border-radius: 10px; }

.select2-container--default .select2-results > .select2-results__options {
  max-height: unset; }

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background: #EDF3FA;
  color: #545454; }

.select2-container--default .select2-results__option--selected {
  color: #0071F5;
  font-weight: 500;
  background: #EDF3FA url("../img/sel-check.svg") no-repeat right 25px center; }
  .select2-container--default .select2-results__option--selected.select2-results__option--highlighted {
    color: #0071F5;
    background: #EDF3FA url("../img/sel-check.svg") no-repeat right 25px center; }

.form__label-ch {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px; }

.form__label-ch {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer; }
  .form__label-ch div {
    font-weight: 300;
    color: #C0D8FB; }
    .form__label-ch div a {
      color: #FFF;
      display: inline-block;
      border-bottom: 1px solid rgba(255, 255, 255, 0.4); }
      .form__label-ch div a:hover {
        text-decoration: none; }
  .form__label-ch input[type="checkbox"] {
    display: none; }
    .form__label-ch input[type="checkbox"] + span {
      -webkit-flex: none;
          -ms-flex: none;
              flex: none;
      width: 30px;
      height: 30px;
      background-color: white;
      border-radius: 7px;
      margin-right: 15px;
      margin-bottom: 0px; }
    .form__label-ch input[type="checkbox"]:checked + span {
      background: url("../img/check.svg") no-repeat center; }

.contacts a:hover {
  text-decoration: none; }

.contacts__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1114px;
  margin: auto;
  background-image: url("../img/cloud.svg");
  background-repeat: no-repeat;
  background-position: left top;
  min-height: 343px;
  padding-top: 45px;
  padding-bottom: 95px;
  position: relative; }
  .contacts__row:before {
    content: "";
    display: block;
    position: absolute;
    top: 20px;
    left: -148px;
    width: 128px;
    height: 254px;
    background: url("../img/money-1.svg") no-repeat 0 0; }
  .contacts__row:after {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    right: -152px;
    width: 132px;
    height: 278px;
    background: url("../img/money-2.svg") no-repeat 0 0; }

.contacts__title {
  color: #a6a6a6;
  font-size: 26px;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 35px; }

.contacts__phohe {
  color: #cc003d;
  font-size: 70px;
  font-weight: 500;
  margin-bottom: 35px;
  display: inline-block; }

.contacts__whatsap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 47px;
  background: url("../img/phone.svg") no-repeat 0 0;
  min-height: 32px; }
  .contacts__whatsap span {
    display: inline-block;
    color: #0071f5;
    font-weight: 300;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 113, 245, 0.4); }

.footer {
  padding-top: 55px;
  position: relative;
  padding-bottom: 150px; }
  .footer:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    margin: 100px auto auto;
    background-color: #edf3fa;
    width: 100%;
    max-width: 1700px;
    height: 50px;
    border-radius: 50px 50px 0px 0px; }
  .footer .contain {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }

.footer__row {
  max-width: 998px;
  margin: auto;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -30px;
  margin-right: -30px; }
  .footer__row > div {
    padding: 0 30px; }

.footer__col-1 {
  width: 33.3333%;
  margin-bottom: 80px; }

.footer__col-2 {
  width: 33.3333%;
  margin-bottom: 80px; }

.footer__item {
  margin-bottom: 40px; }

.footer__lbl {
  font-size: 16px;
  font-weight: 300;
  line-height: 2.2;
  color: #a6a6a6;
  margin-bottom: 20px; }

.footer__mail {
  color: #545454;
  font-size: 16px;
  font-weight: 500; }

.footer__adress {
  color: #545454;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.3; }

.footer__col-3 {
  width: 33.3333%;
  margin-bottom: 80px; }

.footer__ul {
  margin-bottom: 80px; }
  .footer__ul li {
    margin-bottom: 34px; }
    .footer__ul li a {
      color: #a6a6a6;
      font-size: 16px;
      font-weight: 300;
      display: inline-block;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.footer__col-4 {
  width: 33.3333%; }

.copy {
  font-size: 16px;
  font-weight: 300;
  color: #a6a6a6; }

.footer__col-5 {
  width: 33.3333%; }

.polyt {
  color: #0071f5;
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
  display: inline-block;
  border-bottom: 1px solid rgba(0, 113, 245, 0.4); }
  .polyt:hover {
    text-decoration: none; }

.footer__logo .logo__txt-2 {
  display: none; }

.completed-slde-dots {
  position: absolute;
  left: 28px;
  bottom: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .completed-slde-dots li {
    font-size: 0;
    padding: 0;
    margin: 0;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    width: 10px;
    height: 10px;
    border: 2px solid white;
    background: none;
    margin-left: 6px;
    margin-right: 6px;
    cursor: pointer; }
    .completed-slde-dots li:focus {
      outline: none; }
    .completed-slde-dots li:active {
      outline: none;
      background: none; }
  .completed-slde-dots .slick-active {
    border: 2px solid white;
    background-color: #ffffff; }

.nobrd {
  border: none; }

.eye-3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-color: #ccc;
  z-index: 100;
  border-radius: 50%; }

@media (max-width: 640px) {
  .help-call .measurer-form .btn {
    margin-top: 0; } }

@media only screen and (max-width: 320px) {
  body, body > * {
    width: auto;
    min-width: 320px; } }

._red {
  color: #CC003D; }

._blue {
  color: #0071f5; }

body.active {
  background: url("../img/1920.jpg") no-repeat top 0px center; }
  body.active .wrapper {
    opacity: 0.4; }
  body.active .footer {
    opacity: 0.4; }
  body.active .get {
    opacity: 0.4; }
